.topbar_container{
    height: 76px; 
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items:center
}

.custom_button{
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    border: none;
}