.checkout_header {
    width: 100vw;
    background-color: var(--blue-2-color);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout_body {
    background: #F0F2F4;
    width: 100%;
}

.checkout_user_information {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 20px 40px 20px;
}
